*{
    box-sizing: border-box;
}
  body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* background-image: url('../imgs/bg.jpg'); */
    transition: .5s;
    background-color: rgb(41, 39, 39);
    color: wheat
}

h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.header{
    background-color: rgb(71, 62, 62);
    text-align: center;
    font-size:25px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: none;
    margin-top: none;
    box-shadow: 2px 2px 3px 3px rgb(33 26 26);
}
.header>span{
margin-right: 50px;
display: inline-block;

}


.cell {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1em;
    transition: .3s;
   background-color: rgba(170, 145, 145, 0.822);
   box-shadow: 6px 4px 3px 2px rgb(33 26 26);
   position:relative; 
   border-radius: 2%;
   z-index:-1
   
}
.cell:hover{
    background-color: rgba(155, 138, 138, 0.747);
    transform: scale(1.1);
    cursor: pointer;
    position:relative; 
    z-index:1
}

.show{
    background-color:   rgba(155, 138, 138, 0.5);
}

.mine.show{
    background-color: rgba(134, 87, 87, 0.473);
}

.img{
    width: 35px;
    margin-left: 10px;
}
.imgHeart{
    width: 40px;
    margin-left: 10px;
}
.bulb{
    width:45px;
    margin-left: 10px;
}
.emoji:hover{
    cursor: pointer;
}

.emoji{
    font-size: 55px;
    width: 90px;
}

table{
    margin-top: 50px;
    margin:  auto;
    text-align : center;
}
.btn{
    cursor: pointer;
    background-color: wheat;
    border-radius: 5%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 3px 4px rgb(41 39 39) ;
    color:  rgb(71, 62, 62);
    text-align: center;
}
.header.losing{
    box-shadow: 2px 2px 3px 3px rgb(31 7 7);
    background-color: #901e1e99;
}
table.losing{
    box-shadow: 2px 2px 3px 3px rgb(31 7 7);
    pointer-events: none;
    cursor: default;
}
body.losing{
    background-color: rgb(58, 10, 10);
}
.modal{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.63);
    color: rgb(20, 3, 3);
    margin: auto;
    margin-left: 25%;
    font-size: 50px;
    text-emphasis: bold;
    padding: 50px;
    box-shadow: 2px 0px 4px 3px rgb(33 31 31);
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 50%; 
    height: 20%; 
}
.safe{
    background-color:  wheat;
    color:  rgb(71, 62, 62);
}

.btnOff{
    pointer-events: none;
    cursor: default;
}
.score {
    margin: 0;
    padding-right: 0;
}
.numOfSafeClicks {
    margin: 0;
    padding-right: 0;
}
